.App {
  height: 100vh;
  min-height: 600px;
  width: 100vw;
  min-width: 200px;
  &.jawsbar {
    color: white;
    background: linear-gradient(25deg, #b7094c, #5c4d7d, #0091ad);
  }
  &.purple {
    color: rgb(233, 233, 233);
    background: linear-gradient(
      25deg,
      #2d00f7,
      #8900f2,
      #bc00dd,
      #b100e8,
      #db00b6,
      #f20089
    );
  }
  &.pastel {
    color: white;
    text-shadow: 1px 1px 1px gray;
    background: linear-gradient(
      25deg,
      #ffadad,
      #ffd6a5,
      #fdffb6,
      #caffbf,
      #9bf6ff,
      #a0c4ff,
      #bdb2ff,
      #ffc6ff,
      #fffffc
    );
  }
  &.black {
    color: white;
    background: black;
  }
  &.white {
    color: black;
    background: white;
  }
}
