@mixin fadein($duration: 2s, $delay: 0s) {
  animation: fadein $duration $delay forwards;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  text-align: center;
  @include fadein(2s, 0.2s);
  opacity: 0;
  .date {
  }
  .time {
    font-size: 25px;
  }
}
