@mixin fadein($duration: 2s, $delay: 0s) {
  animation: fadein $duration $delay forwards;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  transition: filter 0.5s;
  margin: {
    bottom: 5vh;
  }
  .header {
    @include fadein(2s, 1s);
    opacity: 0;
    padding: {
      left: 10px;
      right: 10px;
      // top: 30px;
    }
    line-height: 50px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  .clock {
    font-family: "Azeret Mono", monospace;
    @include fadein(2s, 1.2s);
    opacity: 0;
    margin: {
      top: 3vh;
    }
    text-align: center;
    .date {
      margin: {
        bottom: 5px;
      }
    }
    .time {
      font-size: 25px;
    }
  }

  &.blur {
    filter: blur(3px);
    pointer-events: none;
  }
}
