.container {
  // border: 1px solid red;
  // transform: translateY(-10vh);

  position: relative;
  .input--text {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: {
      top: 5px;
      right: 70px;
      bottom: 5px;
      left: 10px;
    }
    margin: {
      bottom: 30vh;
    }
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 35vw;
  }
}
