@mixin fadein($duration: 2s, $delay: 0s) {
  animation: fadein $duration $delay forwards;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  @include fadein(2s, 0.4s);
  opacity: 0;
  position: relative;

  .input--text {
    padding: {
      top: 5px;
      right: 70px;
      bottom: 5px;
      left: 10px;
    }
    margin: {
      bottom: 20vh;
    }
    width: 35vw;
    min-width: 200px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &.white,
  &.pastel {
    .input--text {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
    }
  }

  &.black {
    .input--text {
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
    }
  }
}
