@mixin fadein($duration: 2s, $delay: 0s) {
  animation: fadein $duration $delay forwards;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.query {
  padding: {
    top: 8vh;
    left: 10vw;
    right: 10vw;
  }
  @include fadein(2s, 0.2s);
  opacity: 0;
  flex-grow: 1;

  .query__title {
    padding: {
      top: 10vmin;
      bottom: 8vh;
    }
    @include fadein(2s, 0.5s);
    opacity: 0;
    margin: auto;
    font-size: 30px;
  }

  .query__content {
    text-align: center;
  }

  .theme-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .theme {
      margin: {
        bottom: 10px;
      }
      @include fadein(2s, 0.3s);
      opacity: 0;
      cursor: pointer;
      width: 70px;
      height: 70px;
      border-radius: 5px;
      border: 1px solid white;

      &:not(last-child) {
        margin-right: 10px;
      }

      &.theme--jawsbar {
        background: linear-gradient(25deg, #b7094c, #5c4d7d, #0091ad);
      }

      &.theme--purple {
        background: linear-gradient(
          25deg,
          #f72585,
          #b5179e,
          #7209b7,
          #4361ee,
          #4895ef,
          #4cc9f0
        );
      }

      &.theme--pastel {
        background: linear-gradient(
          25deg,
          #cdb4db,
          #ffc8dd,
          #ffafcc,
          #bde0fe,
          #a2d2ff
        );
      }

      &.theme--black {
        background-color: black;
      }
      
      &.theme--white {
        background-color: white;
        &.selected {
          box-shadow: 0px 0px 10px black;
        }
      }

      &.selected {
        box-shadow: 0px 0px 10px white;
      }
    }
  }
}
