@mixin fadein($duration: 2s, $delay: 0s) {
  animation: fadein $duration $delay forwards;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.query {
  padding: {
    top: 5vh;
    left: 10vw;
    right: 10vw;
  }
  @include fadein(2s, 0.2s);
  opacity: 0;
  flex-grow: 1;

  .query__title {
    padding: {
      top: 10vmin;
      bottom: 8vh;
    }
    @include fadein(2s, 0.5s);
    opacity: 0;
    margin: auto;
    font-size: 30px;
  }

  form {
    text-align: center;
    .input--text {
      padding: {
        left: 5px;
      }
      @include fadein(2s, 0.3s);
      opacity: 0;
      width: 80%;
      height: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
      &.white {
        border: 1px solid black !important;
      }
    }
  }
}
