// $bg: linear-gradient(25deg, #b7094c, #5c4d7d, #0091ad);
// $bg: linear-gradient(
//   25deg,
//   #2d00f7,
//   #8900f2,
//   #bc00dd,
//   #b100e8,
//   #db00b6,
//   #f20089
// );
// $bg: linear-gradient(
//   25deg,
//   #ffadad,
//   #ffd6a5,
//   #fdffb6,
//   #caffbf,
//   #9bf6ff,
//   #a0c4ff,
//   #bdb2ff,
//   #ffc6ff,
//   #fffffc
// );
// $bg: linear-gradient(black, black);
// $bg: linear-gradient(white, white);

* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}
a {
  text-decoration: none;
}
// html {
//   background: $bg;
// }

